//  ============================================================
//  Component:          Variables
//  Description:        Defines common values which are used across all
//                      components
//  ============================================================

/* Filename
   ============================================================ */
$prefix: 'i-' !default;

/* Breakpoint
      ============================================================ */

/*
    * Phone Portrait:      Galaxy (360x640), iPhone 6 (375x667), iphone 6+
    *                      (414x736)
    *
    * Phone Landscape      Galaxy (360x640), iPhone 6 (375x667), iphone 6+
    *                      (414x736)
    *
    * Table Portrait       iPad (768x1024), Galaxy Tab (800x1280),
    *
    * Table Landscape      iPad (1024x768), iPad Pro (1024x1366),
    *
    * Desktop              Galaxy Tab (1280x800), iPad Pro (1366x1024)
    */
$breakpoint: () !default;
$breakpoint: (
	small: 640px,
	medium: 960px,
	large: 1200px,
	xlarge: 1600px,
);

$breakpoint-max: () !default;
$breakpoint-max: (
	xsmall: (
		640px - 1,
	),
	small: (
		960px - 1,
	),
	medium: (
		1200px - 1,
	),
	large: (
		1600px - 1,
	),
);

/* Typography
      ============================================================ */

$font: () !default;
$font: (
	family: 'Lato',
	size: 14px,
	kerning: 0.063rem,
	line-height: 1.5,
);

$font-size: () !default;
$font-size: (
	small: 0.875rem,
	medium: 1.25rem,
	large: 1.5rem,
	xlarge: 2rem,
	xxlarge: 2.625rem,
);

$font-weight: () !default;
$font-weight: (
	light: 300,
	regular: 400,
	bold: 600,
	heavy: 800,
);

/* Color
      ============================================================ */

// Main CTA Colors
$primary: #376ff7 !default;
$secondary: #f26419 !default;

// Supporting Colors
$success: #26cc6e !default;
$warning: #ff9e0f !default;
$danger: #e53b3b !default;

// Inverse
$inverse: #ffffff !default;

// Wrapper
$wrapper: #e8e8e8 !default;

// Background
$background: #ffffff !default;

// text colors
$default: #464646 !default;
$emphasis: #181818 !default;
$muted: #747474 !default;
$idle: #bababa !default;
$link: #0d70d3 !default;

// Used in creating text modifiers
$text-color: () !default;
$text-color: (
	default: $default,
	muted: $muted,
	emphasis: $emphasis,
	idle: $idle,
	primary: $primary,
	secondary: $secondary,
	success: $success,
	warning: $warning,
	danger: $danger,
	inverse: $inverse,
);

// Use for creating link
$link-color: () !default;
$link-color: (
	base: $link,
	light: lighten($link, 5%),
	dark: darken($link, 5%),
);

// Global default background
$global-background: $inverse !default;
$global-muted-background: $wrapper !default;

// Used in creating background modifiers
$theme-color: () !default;
$theme-color: (
	default: $inverse,
	primary: $primary,
	secondary: $secondary,
	success: $success,
	warning: $warning,
	danger: $danger,
	inverse: $inverse,
);

// Used in wrappers background
$background-color: () !default;
$background-color: (
	inverse: $inverse,
	wrapper: $wrapper,
	background: $background,
);

/* Color Yiq
      ============================================================ */

$yiq-contrasted-threshold: 180 !default;
$yiq-text-dark: $default !default;
$yiq-text-light: $inverse !default;

/* Border Radius
      ============================================================ */
$border: () !default;
$border: (
	radius: 0.225rem,
	width: 1px,
	color: #e5e5e5,
);

/* Box Shadow
      ============================================================ */
$box-shadow: () !default;
$box-shadow: (
	small: 0 2px 8px rgba(0, 0, 0, 0.08),
	medium: 0 5px 15px rgba(0, 0, 0, 0.12),
	large: 0 14px 25px rgba(0, 0, 0, 0.16),
	xlarge: 0 28px 50px rgba(0, 0, 0, 0.16),
);

/* Spacing
      ============================================================ */

// Used in margin, section, list
$margin: () !default;
$margin: (
	global: 20px,
	xsmall: 5px,
	small: 10px,
	medium: 40px,
	large: 70px,
	xlarge: 140px,
);

// Used in grid, column, containers, align, cards and padding
$gutter: () !default;
$gutter: (
	xsmall: 15px,
	small: 30px,
	medium: 40px,
	large: 70px,
);

/* Control height
      ============================================================ */
$control-height: () !default;
$control-height: (
	small: 30px,
	medium: 40px,
	large: 55px,
);

/* layer
      ============================================================ */
$layer: () !default;
$layer: (
	dropdown: 1000,
	navbar: 1050,
	sidebar: 1100,
	offcanvas: 1150,
	banner: 1150,
	modal: 1250,
	floating-button: 1300,
	tooltip: 1350,
	lightbox: 1400,
	toast: 1450,
);
