// ============================================================
// Name:            Margin
// Description:     Utilities for margins
//
// Component:       `#{$prefix}margin-*`
//                  `#{$prefix}margin-small-*`
//                  `#{$prefix}margin-medium-*`
//                  `#{$prefix}margin-large-*`
//                  `#{$prefix}margin-xlarge-*`
//                  `#{$prefix}margin-remove-*`
//                  `#{$prefix}margin-auto-*`
//                  `#{$prefix}margin-vertical-*`
//                  `#{$prefix}margin-horizontal-*`
//
// ============================================================

// Variables
// ============================================================

$margin-margin: margin(global) !default;

$margin-xsmall-margin: margin(xsmall) !default;

$margin-small-margin: margin(small) !default;

$margin-medium-margin: margin(medium) !default;

$margin-large-margin: margin(medium) !default;
$margin-large-margin-l: margin(large) !default;

$margin-xlarge-margin: margin(large) !default;
$margin-xlarge-margin-l: margin(xlarge) !default;

/* ============================================================
    Component: Margin
   ============================================================ */

/*
 * Default
 */

.#{$prefix}margin {
	margin-bottom: $margin-margin !important;
}

* + .#{$prefix}margin {
	margin-top: $margin-margin !important;
}

.#{$prefix}margin-top {
	margin-top: $margin-margin !important;
}

.#{$prefix}margin-bottom {
	margin-bottom: $margin-margin !important;
}

.#{$prefix}margin-left {
	margin-left: $margin-margin !important;
}

.#{$prefix}margin-right {
	margin-right: $margin-margin !important;
}

/*
 * Extra Small
 */

.#{$prefix}margin-xsmall {
	margin-bottom: $margin-xsmall-margin !important;
}

* + .#{$prefix}margin-xsmall {
	margin-top: $margin-xsmall-margin !important;
}

.#{$prefix}margin-xsmall-top {
	margin-top: $margin-xsmall-margin !important;
}

.#{$prefix}margin-xsmall-bottom {
	margin-bottom: $margin-xsmall-margin !important;
}

.#{$prefix}margin-xsmall-left {
	margin-left: $margin-xsmall-margin !important;
}

.#{$prefix}margin-xsmall-right {
	margin-right: $margin-xsmall-margin !important;
}

/*
 * Small
 */

.#{$prefix}margin-small {
	margin-bottom: $margin-small-margin !important;
}

* + .#{$prefix}margin-small {
	margin-top: $margin-small-margin !important;
}

.#{$prefix}margin-small-top {
	margin-top: $margin-small-margin !important;
}

.#{$prefix}margin-small-bottom {
	margin-bottom: $margin-small-margin !important;
}

.#{$prefix}margin-small-left {
	margin-left: $margin-small-margin !important;
}

.#{$prefix}margin-small-right {
	margin-right: $margin-small-margin !important;
}

/*
 * Medium
 */

.#{$prefix}margin-medium {
	margin-bottom: $margin-medium-margin !important;
}

* + .#{$prefix}margin-medium {
	margin-top: $margin-medium-margin !important;
}

.#{$prefix}margin-medium-top {
	margin-top: $margin-medium-margin !important;
}

.#{$prefix}margin-medium-bottom {
	margin-bottom: $margin-medium-margin !important;
}

.#{$prefix}margin-medium-left {
	margin-left: $margin-medium-margin !important;
}

.#{$prefix}margin-medium-right {
	margin-right: $margin-medium-margin !important;
}

/*
 * Large
 */

.#{$prefix}margin-large {
	margin-bottom: $margin-large-margin !important;
}

* + .#{$prefix}margin-large {
	margin-top: $margin-large-margin !important;
}

.#{$prefix}margin-large-top {
	margin-top: $margin-large-margin !important;
}

.#{$prefix}margin-large-bottom {
	margin-bottom: $margin-large-margin !important;
}

.#{$prefix}margin-large-left {
	margin-left: $margin-large-margin !important;
}

.#{$prefix}margin-large-right {
	margin-right: $margin-large-margin !important;
}

/* Desktop and bigger */
@include respond-to(large) {
	.#{$prefix}margin-large {
		margin-bottom: $margin-large-margin-l !important;
	}

	* + .#{$prefix}margin-large {
		margin-top: $margin-large-margin-l !important;
	}

	.#{$prefix}margin-large-top {
		margin-top: $margin-large-margin-l !important;
	}

	.#{$prefix}margin-large-bottom {
		margin-bottom: $margin-large-margin-l !important;
	}

	.#{$prefix}margin-large-left {
		margin-left: $margin-large-margin-l !important;
	}

	.#{$prefix}margin-large-right {
		margin-right: $margin-large-margin-l !important;
	}
}

/*
 * Large
 */

.#{$prefix}margin-xlarge {
	margin-bottom: $margin-xlarge-margin !important;
}

* + .#{$prefix}margin-xlarge {
	margin-top: $margin-xlarge-margin !important;
}

.#{$prefix}margin-xlarge-top {
	margin-top: $margin-xlarge-margin !important;
}

.#{$prefix}margin-xlarge-bottom {
	margin-bottom: $margin-xlarge-margin !important;
}

.#{$prefix}margin-xlarge-left {
	margin-left: $margin-xlarge-margin !important;
}

.#{$prefix}margin-xlarge-right {
	margin-right: $margin-xlarge-margin !important;
}

/* Desktop and bigger */
@include respond-to(large) {
	.#{$prefix}margin-xlarge {
		margin-bottom: $margin-xlarge-margin-l !important;
	}

	* + .#{$prefix}margin-xlarge {
		margin-top: $margin-xlarge-margin-l !important;
	}

	.#{$prefix}margin-xlarge-top {
		margin-top: $margin-xlarge-margin-l !important;
	}

	.#{$prefix}margin-xlarge-bottom {
		margin-bottom: $margin-xlarge-margin-l !important;
	}

	.#{$prefix}margin-xlarge-left {
		margin-left: $margin-xlarge-margin-l !important;
	}

	.#{$prefix}margin-xlarge-right {
		margin-right: $margin-xlarge-margin-l !important;
	}
}

/* Remove Margin
   ============================================================ */

.#{$prefix}margin-remove {
	margin: 0 !important;
}

.#{$prefix}margin-remove-top {
	margin-top: 0 !important;
}

.#{$prefix}margin-remove-bottom {
	margin-bottom: 0 !important;
}

.#{$prefix}margin-remove-left {
	margin-left: 0 !important;
}

.#{$prefix}margin-remove-right {
	margin-right: 0 !important;
}

.#{$prefix}margin-remove-vertical {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.#{$prefix}margin-remove-adjacent + * {
	margin-top: 0 !important;
}

/* Auto Margin
   ============================================================ */

.#{$prefix}margin-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.#{$prefix}margin-auto-top {
	margin-top: auto !important;
}

.#{$prefix}margin-auto-bottom {
	margin-bottom: auto !important;
}

.#{$prefix}margin-auto-left {
	margin-left: auto !important;
}

.#{$prefix}margin-auto-right {
	margin-right: auto !important;
}

.#{$prefix}margin-auto-vertical {
	margin-top: auto !important;
	margin-bottom: auto !important;
}
