// ============================================================
// Name:            Padding
// Description:     Utilities for padding
//
// Component:       `#{$prefix}padding`
//                  `#{$prefix}padding-large`
//                  `#{$prefix}padding-remove`
//
// ============================================================

// Variables
// ============================================================

$padding-padding: gutter(small) !default;
$padding-padding-l: gutter(medium) !default;

$padding-small-padding: gutter(xsmall) !default;

$padding-large-padding: gutter(small) !default;
$padding-large-padding-l: gutter(large) !default;

/* ============================================================
    Component: Padding
   ============================================================ */

.#{$prefix}padding {
	padding: $padding-padding !important;
}

/* Desktop and bigger */
@include respond-to(large) {
	.#{$prefix}padding {
		padding: $padding-padding-l !important;
	}
}

/* Small
   ============================================================ */

.#{$prefix}padding-small {
	padding: $padding-small-padding !important;
}

/* Large
   ============================================================ */

.#{$prefix}padding-large {
	padding: $padding-large-padding !important;
}

/* Desktop and bigger */
@include respond-to(large) {
	.#{$prefix}padding-large {
		padding: $padding-large-padding-l !important;
	}
}

/* Remove
   ============================================================ */

.#{$prefix}padding-remove {
	padding: 0 !important;
}

.#{$prefix}padding-remove-top {
	padding-top: 0 !important;
}

.#{$prefix}padding-remove-bottom {
	padding-bottom: 0 !important;
}

.#{$prefix}padding-remove-left {
	padding-left: 0 !important;
}

.#{$prefix}padding-remove-right {
	padding-right: 0 !important;
}

.#{$prefix}padding-remove-vertical {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.#{$prefix}padding-remove-horizontal {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
