// ============================================================
// Name:            Text
// Description:     Utilities for text
//
// Component:       `#{$prefix}text-header`
//                  `#{$prefix}text-title`
//                  `#{$prefix}text-headline`
//                  `#{$prefix}text-lead`
//                  `#{$prefix}text-meta`
//                  `#{$prefix}text-bold`
//                  `#{$prefix}text-italic`
//                  `#{$prefix}text-oblique`
//                  `#{$prefix}text-underline`
//                  `#{$prefix}text-uppercase`
//                  `#{$prefix}text-capitalize`
//                  `#{$prefix}text-lowercase`
//                  `#{$prefix}text-left`
//                  `#{$prefix}text-center`
//                  `#{$prefix}text-right`
//                  `#{$prefix}text-justify`
//                  `#{$prefix}text-top`
//                  `#{$prefix}text-middle`
//                  `#{$prefix}text-bottom`
//                  `#{$prefix}text-baseline`
//                  `#{$prefix}text-nowrap`
//                  `#{$prefix}text-truncate`
//                  `#{$prefix}text-break`
//
// ============================================================

// Variables
// ============================================================

$text-header-font-size: 2.8rem !default;
$text-header-line-height: 1.2 !default;
$text-header-color: color(emphasis) !default;
$text-header-font-weight: font-weight(heavy) !default;

$text-title-font-size: 2rem !default;
$text-title-line-height: 1.2 !default;
$text-title-color: color(emphasis) !default;
$text-title-font-weight: font-weight(bold) !default;

$text-headline-font-size: 1.56rem !default;
$text-headline-line-height: 1.2 !default;
$text-headline-color: color(default) !default;
$text-headline-font-weight: font-weight(regular) !default;

$text-lead-font-size: 1.25rem !default;
$text-lead-line-height: 1.2 !default;
$text-lead-color: color(default) !default;
$text-lead-font-weight: font-weight(regular) !default;

$text-meta-font-size: font-size(small) !default;
$text-meta-line-height: 1.5 !default;
$text-meta-color: color(muted) !default;
$text-meta-font-weight: font-weight(light) !default;

$text-semibold-font-weight: 400 !default;
$text-bold-font-weight: font-weight(bold) !default;

$text-background-color: theme-color(primary) !default;

/* ============================================================
    Component: Text
   ============================================================ */

.#{$prefix}text-header {
	font-size: $text-header-font-size;
	line-height: $text-header-line-height;
	color: $text-header-color;
	font-weight: $text-header-font-weight;
}

.#{$prefix}text-title {
	font-size: $text-title-font-size;
	line-height: $text-title-line-height;
	color: $text-title-color;
	font-weight: $text-title-font-weight;
}

.#{$prefix}text-headline {
	font-size: $text-headline-font-size;
	line-height: $text-headline-line-height;
	color: $text-headline-color;
	font-weight: $text-headline-font-weight;
}

.#{$prefix}text-lead {
	font-size: $text-lead-font-size;
	line-height: $text-lead-line-height;
	color: $text-lead-color;
	font-weight: $text-lead-font-weight;
}

.#{$prefix}text-meta {
	font-size: $text-meta-font-size;
	line-height: $text-meta-line-height;
	color: $text-meta-color;
	font-weight: $text-meta-font-weight;
}

/* Style modifiers
   ============================================================ */

.#{$prefix}text-semibold {
	font-weight: $text-semibold-font-weight;
}

.#{$prefix}text-bold {
	font-weight: $text-bold-font-weight;
}

.#{$prefix}text-italic {
	font-style: italic;
}

.#{$prefix}text-oblique {
	font-style: oblique;
}

.#{$prefix}text-underline {
	text-decoration: underline;
}

/* Transform modifiers
   ============================================================ */

.#{$prefix}text-uppercase {
	text-transform: uppercase !important;
}

.#{$prefix}text-capitalize {
	text-transform: capitalize !important;
}

.#{$prefix}text-lowercase {
	text-transform: lowercase !important;
}

/* Color modifiers
   ============================================================ */

@include create-text-modifiers(text);

/* Background modifiers
   ============================================================ */

/*
 * 1. Container fills the text
 * 2. Fallback color for IE11
 */

.#{$prefix}text-background {
	/* 1 */
	display: inline-block;

	/* 2 */
	color: $text-background-color;
}

@supports (-webkit-background-clip: text) {
	.#{$prefix}text-background {
		background-color: $text-background-color;
	}
}

/* Alignment modifiers
   ============================================================ */

.#{$prefix}text-left {
	text-align: left !important;
}

.#{$prefix}text-right {
	text-align: right !important;
}

.#{$prefix}text-center {
	text-align: center !important;
}

.#{$prefix}text-justify {
	text-align: justify !important;
}

/* Phone landscape and bigger */
@include respond-to(small) {
	.#{$prefix}text-left\@s {
		text-align: left !important;
	}

	.#{$prefix}text-right\@s {
		text-align: right !important;
	}

	.#{$prefix}text-center\@s {
		text-align: center !important;
	}
}

/* Tablet landscape and bigger */
@include respond-to(medium) {
	.#{$prefix}text-left\@m {
		text-align: left !important;
	}

	.#{$prefix}text-right\@m {
		text-align: right !important;
	}

	.#{$prefix}text-center\@m {
		text-align: center !important;
	}
}

/* Desktop  and bigger */
@include respond-to(large) {
	.#{$prefix}text-left\@l {
		text-align: left !important;
	}

	.#{$prefix}text-right\@l {
		text-align: right !important;
	}

	.#{$prefix}text-center\@l {
		text-align: center !important;
	}
}

/* Desktop  and bigger */
@include respond-to(large) {
	.#{$prefix}text-left\@xl {
		text-align: left !important;
	}

	.#{$prefix}text-right\@xl {
		text-align: right !important;
	}

	.#{$prefix}text-center\@xl {
		text-align: center !important;
	}
}

/* Vertical modifiers
   ============================================================ */

.#{$prefix}text-top {
	vertical-align: top !important;
}

.#{$prefix}text-middle {
	vertical-align: middle !important;
}

.#{$prefix}text-bottom {
	vertical-align: bottom !important;
}

.#{$prefix}text-baseline {
	vertical-align: baseline !important;
}

/* Wrap modifiers
   ============================================================ */

/*
 * Prevent text from wrapping into multiple lines
 */

.#{$prefix}text-nowrap {
	white-space: nowrap;
}

/*
 * 1. Make sure a max-width is set after which truncation can occur
 * 2. Prevent text from wrapping onto multiple lines, and truncate with an
 *    ellipsis
 * 3. Fix for table cells
 */

.#{$prefix}text-truncate {
	/* 1 */
	max-width: 100%;

	/* 2 */
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media screen and (max-width: 960px) {
	.#{$prefix}text-truncate\@m {
		/* 1 */
		max-width: 100%;

		/* 2 */
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

/* 3 */
th.#{$prefix}text-truncate,
td.#{$prefix}text-truncate {
	max-width: 0;
}

/*
 * 1. Wrap long words onto the next line and break them if they are too long
 *    to fit
 * 2. Legacy `word-wrap` as fallback for `overflow-wrap`
 * 3. Fix `overflow-wrap` which doesn't work with table cells in Chrome,
 *    Opera, IE11, and Edge
 *    Must use `break-all` to support IE11 and Edge
 * Note: Not using `hypens: auto;` because it hypenates text even if not needed.
 */

.#{$prefix}text-break {
	/* 1 */
	overflow-wrap: break-word;

	/* 2 */
	word-wrap: break-word;
}

/* 3 */
th.#{$prefix}text-break,
td.#{$prefix}text-break {
	word-break: break-all;
}
