@import '@/scss/helpers';
@import '@/scss/functions';
@import '@/scss/mixins';

// ============================================================
// Name:            Avatar
// Description:     Component to create placeholder or wrapper of the user
//                  image
//
// Component:       `#{$prefix}avatar`
//
// Modifiers:       `#{$prefix}avatar-image`
//                  `#{$prefix}avatar-primary`
//                  `#{$prefix}avatar-xsmall`
//                  `#{$prefix}avatar-small`
//                  `#{$prefix}avatar-medium`
//                  `#{$prefix}avatar-large`
//                  `#{$prefix}avatar-xlarge`
//
// ============================================================

// Variables
// ============================================================

$avatar-border-radius: 100% !default;

$avatar-height-xs: 24px !default;
$avatar-width-xs: $avatar-height-xs !default;
$avatar-font-size-xs: 10px !default;

$avatar-height-s: 32px !default;
$avatar-width-s: $avatar-height-s !default;
$avatar-font-size-s: 12px !default;

$avatar-height: 48px !default;
$avatar-width: $avatar-height !default;
$avatar-font-size: 16px !default;

$avatar-height-m: 64px !default;
$avatar-width-m: $avatar-height-m !default;
$avatar-font-size-m: 20px !default;

$avatar-height-l: 96px !default;
$avatar-width-l: $avatar-height-l !default;
$avatar-font-size-l: 36px !default;

$avatar-height-xl: 128px !default;
$avatar-width-xl: $avatar-height-xl !default;
$avatar-font-size-xl: 48px !default;

$avatar-background: background-color(wrapper) !default;
$avatar-color: color(default) !default;

$avatar-primary-background: theme-color(primary) !default;
$avatar-primary-color: color-yiq($avatar-primary-background) !default;

$avatar-secondary-background: theme-color(secondary) !default;
$avatar-secondary-color: color-yiq($avatar-secondary-background) !default;

$avatar-margin-right: margin(xsmall) !default;

/* ============================================================
	Component: Avatar
   ============================================================ */

/*
 * 1. Set dimension
 * 2. Set typography style
 * 3. Make the text horizontal center
 * 4. Set background color
 */
.#{$prefix}avatar {
	display: inline-block;

	/* 1 */
	height: $avatar-height;
	width: $avatar-width;

	/* 3 */
	font-size: $avatar-font-size;
	line-height: $avatar-height;
	color: $avatar-color;

	/* 3 */
	text-align: center;

	/* 4 */
	background-color: $avatar-background;
	border-radius: $avatar-border-radius;

	overflow: hidden;
}

/*
 * Add margin
 */

.#{$prefix}avatar + * {
	margin-right: $avatar-margin-right;
}

/* Image modifiers
   ============================================================ */

.#{$prefix}avatar.#{$prefix}avatar-image {
	line-height: 0;
}

.#{$prefix}avatar.#{$prefix}avatar-image > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

/* Size modifiers
   ============================================================ */

.#{$prefix}avatar-xsmall {
	height: $avatar-height-xs;
	width: $avatar-width-xs;
	font-size: $avatar-font-size-xs;
	line-height: $avatar-height-xs;
}

.#{$prefix}avatar-small {
	height: $avatar-height-s;
	width: $avatar-width-s;
	font-size: $avatar-font-size-s;
	line-height: $avatar-height-s;
}

.#{$prefix}avatar-medium {
	height: $avatar-height-m;
	width: $avatar-width-m;
	font-size: $avatar-font-size-m;
	line-height: $avatar-height-m;
}

.#{$prefix}avatar-large {
	height: $avatar-height-l;
	width: $avatar-width-l;
	font-size: $avatar-font-size-l;
	line-height: $avatar-height-l;
}

.#{$prefix}avatar-xlarge {
	height: $avatar-height-xl;
	width: $avatar-width-xl;
	font-size: $avatar-font-size-xl;
	line-height: $avatar-height-xl;
}

/* Color modifiers
   ============================================================ */

.#{$prefix}avatar-primary {
	background-color: $avatar-primary-background;
	color: $avatar-primary-color;
}

.#{$prefix}avatar-secondary {
	background-color: $avatar-secondary-background;
	color: $avatar-secondary-color;
}
