@import '@/scss/helpers';
@import '@/scss/functions';
@import '@/scss/mixins';

// ============================================================
// Name:            Breadcrumb
// Description:     Component to create a breadcrumb navigation
//
// Component:       `#{$prefix}breadcrumb`
//
// States:          `#{$prefix}disabled`
//
// ============================================================

// Variables
// ============================================================

$breadcrumb-item-font-size: font-size(small) !default;
$breadcrumb-item-color: color(muted) !default;
$breadcrumb-item-hover-color: color(emphasis) !default;
$breadcrumb-item-hover-text-decoration: none !default;
$breadcrumb-item-active-color: color(primary) !default;

$breadcrumb-divider: '/' !default;
$breadcrumb-divider-margin-horizontal: margin(small) !default;
$breadcrumb-divider-color: border(color) !default;

/* ============================================================
   Component: Breadcrumb
   ============================================================ /

/*
 * 1. Allow items to wrap into the next line
 * 2. Reset list
 */

.#{$prefix}breadcrumb {
	display: flex;

	/* 1 */
	flex-wrap: wrap;

	/* 2 */
	padding: 0;
	margin: 0;
	list-style: none;
}

/*
 * Space is allocated solely based on content dimensions: 0 0 auto
 */

.#{$prefix}breadcrumb > * {
	flex: none;
}

/* Items
   ============================================================ */

.#{$prefix}breadcrumb > * > * {
	display: inline-block;
	font-size: $breadcrumb-item-font-size;
	color: $breadcrumb-item-color;
}

/* Hover + Focus */
.#{$prefix}breadcrumb > * > :hover,
.#{$prefix}breadcrumb > * > :focus {
	color: $breadcrumb-item-hover-color;
	text-decoration: $breadcrumb-item-hover-text-decoration;
}

/* Disabled */
.#{$prefix}breadcrumb > .#{$prefix}disabled > * {
	color: color(idle);
	cursor: not-allowed;
}

/* Active */
.#{$prefix}breadcrumb > :last-child > * {
	color: $breadcrumb-item-active-color;
}

@include respond-to-max(medium) {
	.#{$prefix}breadcrumb > :not(:last-child) > * {
		display: none;
	}
}

/*
 * Divider
 * `nth-child` makes it also work without JS if it's only one row
 */

.#{$prefix}breadcrumb > :nth-child(n + 2):not(.uis-first-column):before {
	content: $breadcrumb-divider;
	display: inline-block;
	margin: 0 $breadcrumb-divider-margin-horizontal;
	color: $breadcrumb-divider-color;
}

@include respond-to-max(medium) {
	.#{$prefix}breadcrumb > :nth-child(n + 2):not(.uis-first-column):before {
		display: none;
	}
}
