@import '@/scss/helpers';
@import '@/scss/functions';
@import '@/scss/mixins';

//  ============================================================
//  Name:               Button
//  Description:        Styles for buttons
//
//  Component:          `#{$prefix}-button-*`
//
//  Sub-components:     `#{$prefix}-button-group`
//                      `#{$prefix}-floating-button`
//
//  Modifiers:          `#{$prefix}-button-default`
//                      `#{$prefix}-button-primary`
//                      `#{$prefix}-button-secondary`
//                      `#{$prefix}-button-warning`
//                      `#{$prefix}-button-danger`
//                      `#{$prefix}-button-outline-primary`
//                      `#{$prefix}-button-outline-secondary`
//                      `#{$prefix}-button-outline-warning`
//                      `#{$prefix}-button-outline-danger`
//
//
//  States:             `active`
//  ============================================================

//  ============================================================
//  Variables
//  ============================================================

$button-line-height: control-height(medium) !default;
$button-small-line-height: control-height(small) !default;
$button-medium-line-height: control-height(medium) !default;
$button-large-line-height: control-height(medium) !default;

$button-font-size: font(size) !default;
$button-small-font-size: font-size(small) !default;
$button-medium-font-size: font(size) !default;
$button-large-font-size: font-size(medium) !default;

$button-padding-horizontal: gutter(xsmall) !default;
$button-small-padding-horizontal: gutter(xsmall) !default;

$button-medium-padding-vertical: margin(xsmall) !default;
$button-medium-padding-horizontal: gutter(small) !default;

$button-large-padding-vertical: gutter(xsmall) !default;
$button-large-padding-horizontal: gutter(large) !default;

$button-border-radius: border(radius) !default;
$button-border-width: border(width) !default;
$button-border-color: border(color) !default;

$button-disabled-background: background-color(wrapper) !default;
$button-disabled-color: color(idle) !default;
$button-disabled-border-color: $global-muted-background !default;

$button-text-line-height: font(line-height) !default;
$button-text-color: color(muted) !default;
$button-text-hover-color: color(default) !default;
$button-text-disabled-color: color(idle) !default;

$button-link-color: link(base) !default;
$button-link-hover-color: link(dark) !default;
$button-link-line-height: font(line-height) !default;
$button-link-hover-text-decoration: underline !default;
$button-link-disabled-color: color(idle) !default;

$button-icon-width: $button-line-height !default;
$button-icon-background: darken(color(inverse), 10%) !default;
$button-icon-color: color(default);

$button-icon-primary-background: lighten(color(primary), 10%) !default;
$button-icon-primary-color: color(inverse);

$button-icon-secondary-background: lighten(color(secondary), 10%) !default;
$button-icon-secondary-color: color(inverse);

$button-icon-success-background: lighten(color(success), 10%) !default;
$button-icon-success-color: color(inverse);

$button-icon-warning-background: lighten(color(warning), 10%) !default;
$button-icon-warning-color: color(inverse);

$button-icon-danger-background: lighten(color(danger), 10%) !default;
$button-icon-danger-color: color(inverse);

/* ============================================================
    Component: Button
   ============================================================ */

/*
 * 1. Remove margins in Chrome, Safari, and Opera.
 * 2. Remove borders for `button`.
 * 3. Remove border-radius in Chrome.
 * 4. Address `overflow` set to `hidden` in IE.
 * 5. Correct `font` properties and `color` not being inherited for `button`.
 * 6. Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 7. Style
 * 8. `line-height` is used to create a height because it also centers the text
 *     vertically for `a` elements.
 *     Better would be to use height and flexbox to center the text vertically
 *     but flex box doesn't work in Firefox on `button` elements.
 * 9. Align text if button has a width.
 * 10. Require for `a`.
 */

.#{$prefix}button {
	/* 1 */
	margin: 0;

	/* 2 */
	border: none;

	/* 3 */
	border-radius: $button-border-radius;

	/* 4 */
	overflow: visible;

	/* 5 */
	font: inherit;
	color: inherit;

	/* 6 */
	text-transform: none;

	/* 7 */
	display: inline-block;
	box-sizing: border-box;
	padding: 0 $button-padding-horizontal;
	vertical-align: middle;
	font-size: $button-font-size;

	/* 8 */
	line-height: $button-line-height;

	/* 9 */
	text-align: center;

	/* 10 */
	text-decoration: none;
	transition: background 0.3s ease-in-out;
}

.#{$prefix}button:not(:disabled) {
	cursor: pointer;
}

.#{$prefix}button:disabled {
	cursor: not-allowed;
}

/*
 * Remove the inner border and padding in Firefox
 */
.#{$prefix}button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* Hover */
.#{$prefix}button:hover {
	/* 8 */
	text-decoration: none;
}

/* Focus */
.#{$prefix}button:focus {
	outline: none;
}

/*
 * Disabled
 * The same for all style modifiers
 */

.#{$prefix}button-default:disabled,
.#{$prefix}button-primary:disabled,
.#{$prefix}button-secondary:disabled,
.#{$prefix}button-success:disabled,
.#{$prefix}button-warning:disabled,
.#{$prefix}button-danger:disabled {
	background-color: $button-disabled-background;
	color: $button-disabled-color;
	border: 1px solid $button-disabled-border-color;

	&:hover,
	&:focus {
		background-color: $button-disabled-background;
		color: $button-disabled-color;
		border: 1px solid $button-disabled-border-color;
	}
}

/* Style modifiers
   ============================================================ */

@include create-modifiers-with-selectors(background, button);

/* Outline Style modifiers
   ============================================================ */

@include create-outline-modifiers-with-selectors(button);

/* Size Style modifiers
   ============================================================ */

.#{$prefix}button-small {
	padding: 0 $button-small-padding-horizontal;
	line-height: $button-small-line-height;
	font-size: $button-small-font-size;
}

.#{$prefix}button-medium {
	padding: $button-medium-padding-vertical $button-medium-padding-horizontal;
	line-height: $button-medium-line-height;
	font-size: $button-medium-font-size;
}

.#{$prefix}button-large {
	padding: $button-large-padding-vertical $button-large-padding-horizontal;
	line-height: $button-large-line-height;
	font-size: $button-large-font-size;
}

/* Text Button
   ============================================================ */

.#{$prefix}button-text {
	/* 1 */
	padding: 0;
	line-height: $button-text-line-height;
	background: none;
	border: none;

	/* 2 */
	color: inherit;
}

/* Hover + Focus */
.#{$prefix}button-text:hover,
.#{$prefix}button-text:focus {
	color: inherit;
}

/* Disabled */
.#{$prefix}button-text:disabled {
	color: $button-text-disabled-color !important;
	cursor: not-allowed;
}

// Default
.#{$prefix}button-text.#{$prefix}button-text-default {
	color: color(default);
}

.#{$prefix}button-text.#{$prefix}button-text-default:hover,
.#{$prefix}button-text.#{$prefix}button-text-default:focus {
	color: darken(color(default), 10%);
	border: none;
}

// Primary
.#{$prefix}button-text.#{$prefix}button-text-primary {
	color: color(primary);
}

.#{$prefix}button-text.#{$prefix}button-text-primary:hover,
.#{$prefix}button-text.#{$prefix}button-text-primary:focus {
	color: darken(color(primary), 10%);
	border: none;
}

// Danger
.#{$prefix}button-text.#{$prefix}button-text-danger {
	color: color(danger);
}

.#{$prefix}button-text.#{$prefix}button-text-danger:hover,
.#{$prefix}button-text.#{$prefix}button-text-danger:focus {
	color: darken(color(danger), 10%);
	border: none;
}

/* Text Button Modifier
   ============================================================ */

@include create-modifiers-with-selectors(text, button);

/* Icon Button
   ============================================================ */
.#{$prefix}button-square {
	height: $button-medium-line-height;
	width: $button-medium-line-height;
	line-height: $button-medium-line-height;
	padding: 0;
}

/* Link Button
   ============================================================ */

/*
 * Link
 * 1, Reset
 * 2. Style
 */

.#{$prefix}button-link {
	/* 1 */
	padding: 0;
	line-height: $button-link-line-height;
	background: none;

	/* 2 */
	color: $button-link-color;
}

/* Hover + Focus */
.#{$prefix}button-link:hover,
.#{$prefix}button-link:focus {
	color: $button-link-hover-color;
	text-decoration: $button-link-hover-text-decoration;
}

/* Disabled */
.#{$prefix}button-link:disabled {
	color: $button-link-disabled-color;
	text-decoration: none;
}

/* Group
   ============================================================ */

/*
 * 1. Using `flex` instead of `inline-block` to prevent whitespace between
 *    child elements
 * 2. Behave like button
 * 3. Create position context
 */

.#{$prefix}button-group {
	/* 1 */
	display: inline-flex;

	/* 2 */
	vertical-align: middle;

	/* 3 */
	position: relative;
}

/* Ghost Button
   ============================================================ */

.#{$prefix}button-ghost {
	background-color: transparent;
	border: 1px dashed border(color);
	color: color(muted);
}

.#{$prefix}button-ghost:hover,
.#{$prefix}ost-button-ghost:focus {
	background-color: transparent;
	border-color: darken(border(color), 10%);
	color: color(muted);
}

/* Icon Button
   ============================================================ */

/*
 * 1. Remove the gutters
 * 2. Make the dimension equal
 * 3. Remove the default line-height
 */
.#{$prefix}button-icon {
	/* 1 */
	padding: 0;

	/* 2 */
	height: $button-line-height;
	width: $button-line-height;

	/* 3 */
	line-height: 0;
}

.#{$prefix}button-icon.#{$prefix}button-large {
	height: $button-large-line-height;
	width: $button-large-line-height;

	line-height: $button-line-height;
}
