@import '@/scss/helpers';
@import '@/scss/functions';
@import '@/scss/mixins';

// ============================================================
// Name:            Container
// Description:     Component to align and center your site and grid content
//
// Component:       `#{$prefix}container`
//
// Modifiers:       `#{$prefix}container-small`
//                  `#{$prefix}container-large`
//                  `#{$prefix}container-expand`
//
// ============================================================

// Variables
// ============================================================

$container-max-width: 1200px !default;
$container-xsmall-max-width: 750px !default;
$container-small-max-width: 900px !default;
$container-large-max-width: 1600px !default;

$container-padding-horizontal: 15px !default;
$container-padding-horizontal-s: gutter(small) !default;
$container-padding-horizontal-l: gutter(medium) !default;

/* ============================================================
    Component: Container
   ============================================================ */

/*
 * 1. Box sizing has to be `content-box` so the max-width is always the same
 *    and unaffected by the padding on different breakpoints. It's important
 *    for the size modifiers.
 */

.#{$prefix}container {
	/* 1 */
	box-sizing: content-box;
	max-width: $container-max-width;
	margin-left: auto;
	margin-right: auto;
	padding-left: $container-padding-horizontal;
	padding-right: $container-padding-horizontal;
}

/* Phone landscape and bigger */
@include respond-to(small) {
	.#{$prefix}container {
		padding-left: $container-padding-horizontal-s;
		padding-right: $container-padding-horizontal-s;
	}
}

/* Table landscape and bigger */
@include respond-to(medium) {
	.#{$prefix}container {
		padding-left: $container-padding-horizontal-l;
		padding-right: $container-padding-horizontal-l;
	}
}

/*
 * Miscro clearfix
 */
.#{$prefix}container {
	@include clearfix;
}

/*
 * Remove margin from the last-child
 */

.#{$prefix}container > :last-child {
	margin-bottom: 0;
}

/*
 * Remove padding from nested containers
 */

.#{$prefix}container .#{$prefix}container {
	padding-left: 0;
	padding-right: 0;
}

/* Size modifiers
   ============================================================ */

.#{$prefix}container-xsmall {
	max-width: $container-xsmall-max-width;
}

.#{$prefix}container-small {
	max-width: $container-small-max-width;
}

.#{$prefix}container-large {
	max-width: $container-large-max-width;
}

.#{$prefix}container-expand {
	max-width: none;
}
