@import '@/scss/helpers';
@import '@/scss/functions';
@import '@/scss/mixins';

// ============================================================
// Name:            List
// Description:     Styles for list
//
// Component:       `#{$prefix}list`
//
// Modifiers:       `#{$prefix}list-divider`
//                  `#{$prefix}list-striped`
//                  `#{$prefix}list-bullet`
//                  `#{$prefix}list-large`
//
// ============================================================

// Variables
// ============================================================

$list-margin-top: margin(small) !default;

$list-nested-padding-left: gutter(small) !default;

$list-divider-margin-top: margin(small) !default;
$list-divider-border-width: border(width) !default;
$list-divider-border: border(color) !default;

$list-striped-padding-vertical: margin(small) !default;
$list-striped-padding-horizontal: margin(small) !default;
$list-striped-background: background-color(background) !default;

$list-bullet-width: (font(line-height) * 1em) !default;
$list-bullet-height: $list-bullet-width !default;
$list-bullet-margin-right: margin(xsmall) !default;
$list-bullet-icon-color: color(primary) !default;

$list-medium-margin-top: margin(global) !default;
$list-medium-divider-margin-top: margin(global) !default;
$list-medium-striped-padding-vertical: margin(global) !default;
$list-medium-striped-padding-horizontal: margin(small) !default;

$list-large-margin-top: margin(medium) !default;
$list-large-divider-margin-top: margin(medium) !default;
$list-large-striped-padding-vertical: margin(medium) !default;
$list-large-striped-padding-horizontal: margin(global) !default;

$list-xlarge-margin-top: margin(large) !default;
$list-xlarge-divider-margin-top: margin(large) !default;
$list-xlarge-striped-padding-vertical: margin(large) !default;
$list-xlarge-striped-padding-horizontal: margin(medium) !default;

$internal-list-bullet-image: 'data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4IDgiIGhlaWdodD0iNnB4IiB3aWR0aD0iNnB4IiBmaWxsPSIjMzMzMzMzIj48dGl0bGU+ZG90PC90aXRsZT48Y2lyY2xlIGN4PSI0IiBjeT0iNCIgcj0iNCIvPjwvc3ZnPg==' !default;

/* ============================================================
    Component: List
   ============================================================ */

.#{$prefix}list {
	padding: 0;
	list-style: none;
}

/*
 * Micro clearfix
 */

.#{$prefix}list {
	@include clearfix;
}

/*
 * Remove margin from the last-child
 */

.#{$prefix}list > li > :last-child {
	margin-bottom: 0;
}

/*
 * Nested lists
 */

.#{$prefix}list ul {
	margin: 0;
	padding-left: $list-nested-padding-left;
	list-style: none;
}

/*
 * Style
 */

.#{$prefix}list > li:nth-child(n + 2),
.#{$prefix}list > li > ul {
	margin-top: $list-margin-top;
}

/* Style Modifiers
   ============================================================ */

/*
 * Divider
 */

.#{$prefix}list-divider > li:nth-child(n + 2) {
	margin-top: $list-divider-margin-top;
	padding-top: $list-divider-margin-top;
	border-top: $list-divider-border-width solid $list-divider-border;
}

/*
 * Striped
 */

.#{$prefix}list-striped > li {
	padding: $list-striped-padding-vertical $list-medium-striped-padding-horizontal;
}

.#{$prefix}list-striped > li:nth-of-type(odd) {
	background: $list-striped-background;
}

.#{$prefix}list-striped > li:nth-child(n + 2) {
	margin-top: 0;
}

/*
 * Bullet
 * 1. Reset display `table` which cause issues in combination with multi
 *    column layouts.
 */

.#{$prefix}list-bullet > li {
	position: relative;
	padding-left: unquote('calc(#{$list-bullet-width} + #{$list-bullet-margin-right})');
}

.#{$prefix}list-bullet > li:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: $list-bullet-width;
	height: $list-bullet-height;
	background-image: url($internal-list-bullet-image);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	/* 1 */
	display: block;
}

/*
* Leader
*/

.#{$prefix}list-leader li {
	clear: both;
}

.#{$prefix}list-leader li span:first-child {
	float: left;
	padding: 0 0.4em 0 0;
	margin: 0;
}

.#{$prefix}list-leader span + span {
	float: right;
	padding: 0 0 0 0.4em;
	margin: 0;
}

.#{$prefix}list-leader li:after {
	content: '';
	display: block;
	overflow: hidden;
	height: 1em;
	border-bottom: 1px dotted color(idle);
}

/* Size Modifier
   ============================================================ */

.#{$prefix}list-medium > li:nth-child(n + 2),
.#{$prefix}list-medium > li > ul {
	margin-top: $list-medium-margin-top;
}

/*
 * Divider
 */

.#{$prefix}list-medium.#{$prefix}list-divider > li:nth-child(n + 2) {
	margin-top: $list-medium-divider-margin-top;
	padding-top: $list-medium-divider-margin-top;
}

/*
 * Striped
 */

.#{$prefix}list-medium.#{$prefix}list-striped {
	padding: $list-medium-striped-padding-vertical $list-medium-striped-padding-horizontal;
}

.#{$prefix}list-medium.#{$prefix}list-striped > li:nth-child(n + 2) {
	margin-top: 0;
}

/*
 * Large
 */
.#{$prefix}list-large > li:nth-child(n + 2),
.#{$prefix}list-large > li > ul {
	margin-top: $list-large-margin-top;
}

/*
* Divider
*/

.#{$prefix}list-large.#{$prefix}list-divider > li:nth-child(n + 2) {
	margin-top: $list-large-divider-margin-top;
	padding-top: $list-large-divider-margin-top;
}

/*
* Striped
*/

.#{$prefix}list-large.#{$prefix}list-striped {
	padding: $list-large-striped-padding-vertical $list-large-striped-padding-horizontal;
}

.#{$prefix}list-large.#{$prefix}list-striped > li:nth-child(n + 2) {
	margin-top: 0;
}

/*
 * Extra Large
 */
.#{$prefix}list-xlarge > li:nth-child(n + 2),
.#{$prefix}list-xlarge > li > ul {
	margin-top: $list-xlarge-margin-top;
}

/*
* Divider
*/

.#{$prefix}list-xlarge.#{$prefix}list-divider > li:nth-child(n + 2) {
	margin-top: $list-xlarge-divider-margin-top;
	padding-top: $list-xlarge-divider-margin-top;
}

/*
* Striped
*/

.#{$prefix}list-xlarge.#{$prefix}list-striped {
	padding: $list-xlarge-striped-padding-vertical $list-xlarge-striped-padding-horizontal;
}

.#{$prefix}list-xlarge.#{$prefix}list-striped > li:nth-child(n + 2) {
	margin-top: 0;
}
