@import '@/scss/helpers';
@import '@/scss/functions';
@import '@/scss/mixins';

// ============================================================
// Name:            Column
// Description:     Utilities for text columns
//
// Component:       `#{$prefix}column-*`
//
// Sub-objects:     `#{$prefix}column-span`
//
// Modifiers:       `#{$prefix}column-divider`
//
// ============================================================

// Variables
// ============================================================

$column-gutter: gutter(small) !default;
$column-gutter-l: gutter(medium) !default;

$column-divider-rule-color: border(color) !default;
$column-divider-rule-width: border(width) !default;

/* ============================================================
    Component: Column
   ============================================================ */

[class*='#{$prefix}column-'] {
	column-gap: $column-gutter;
}

/* Desktop and Bigger */
@include respond-to(large) {
	[class*='#{$prefix}column-'] {
		column-gap: $column-gutter-l;
	}
}

/*
 * Fix image 1px line wrapping into the next column in Chrome
 */

[class*='#{$prefix}column-'] img {
	transform: translate3d(0, 0, 0);
}

/* Divider
   ============================================================ */

/*
 * 1. Double the column gap
 */

.#{$prefix}column-divider {
	column-rule: $column-divider-rule-width solid $column-divider-rule-color;

	/* 1 */
	column-gap: ($column-gutter * 2);
}

/* Desktop and bigger */
@include respond-to(large) {
	.#{$prefix}column-divider {
		column-gap: ($column-gutter-l * 2);
	}
}

/* Width modifiers
   ============================================================ */

@include create-column-width-modifiers;

/* Make element span across all columns
 * Does not work in Firefox yet
   ============================================================ */

.#{$prefix}column-span {
	column-span: all;
}
